.payment{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
input[type="number"] {
    cursor: none;
}
